<h1>Cancel request</h1>
<form action="/requests/{{requestId}}?_method=DELETE" method="POST">
  <p>Are you sure you want to cancel this request?</p>
  <button type="submit" class="btn btn-danger">Cancel</button>
</form>