<div class="rounded shadow bg-light p-3 mt-3">
    <h1>Home</h1>
    <p>Welcome to the Scottish Pantry Network Share Application.</p>
    <h2>How does this application work?</h2>
    <ol>
        <li>You upload an item you want to donate.</li>
        <li>The pantries select the donations they want.</li>
        <li>You can review the list of requests and chose the easiest pantry to donate to.</li>
        <li>You can then drop of your donation at the pantry.</li>
    </ol>
    <p>To start donating, create an account <a href="/auth/register">here!</a></p>
</div>