<html>
  <head>
    <meta charset="utf-8" />
    <title>spn-share-app</title>
  </head>
  <body>
    <a href="/auth/login">Login</a>
    <a href="/auth/register">Register</a>

    {{{body}}}

  </body>
</html>