<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>spn-share-app</title>
    <!-- Bootstrap CSS -->
    <link
      href="/css/main.css"
      rel="stylesheet"
      type="text/css"
    />

      <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">

    <!-- Tom Tom Maps CSS -->
    <link rel='stylesheet' type='text/css' href='https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.25.1/maps/maps.css'>
  </head>
  <body class="bg-primary">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="/images/TSPN_logo.png" alt="Logo" width="64" class="d-inline-block me-3">
          spn-share-app
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contacts/new">Contact</a>
            </li>
            {{#if (eq currentUser.role "PANTRY")}}
              <li class="nav-item">
                <a class="nav-link" href="/shop">Shop Donations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/requests">Your Requests</a>
              </li>
            {{/if}}
            {{#if (eq currentUser.role "WAREHOUSE")}}
              <li class="nav-item">
                <a class="nav-link" href="/requests">Your Requests</a>
              </li>
            {{/if}}
            {{#if (or (eq currentUser.role "DONATOR") (eq currentUser.role "PANTRY")) }}
              <li class="nav-item">
                <a class="nav-link" href="/donation-items">Your donations</a>
              </li>
            {{/if}}
          </ul>
          {{#if (eq currentUser.role "ADMIN")}}
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Admin
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/users">Manage users</a></li>
                  <li><a class="dropdown-item" href="/donation-items">Manage donation items</a></li>
                </ul>
              </li>
            </ul>
          {{/if}}
          <ul class="navbar-nav">
            {{> loginRegister }}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      {{{body}}}
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>