<div class="min-vh-100 d-flex justify-content-center align-items-start">
  <div class="col-12 col-md-6 col-lg-4">
    <div class="rounded p-4 bg-light shadow my-3">
      {{#if success}}
        <p>{{success.message}}</p>
      {{/if}}

      <form action="/auth/login" method="POST">
        <h1>Login</h1>
        <p class="mt-4">Dont have an account?
          <a href="/auth/register/" class="link-secondary">Register here</a></p>
        <div class="mt-4">
          <label for="email" class="form-label">Email</label>
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            placeholder="Email Address"
            required
          />
        </div>
        <div class="mt-4">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            minlength="6"
            placeholder="Password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary w-100 mt-4">Login</button>
      </form>
      <hr />
      <a href="/auth/google" class="btn btn-danger w-100">
        <i class="bi bi-google"></i> Sign in with Google
      </a>
      {{#if errors}}
        <ul class="list-unstyled">
          {{#each errors}}
            <div class="alert alert-danger" role="alert">
              {{this.message}}
            </div>
          {{/each}}
        </ul>
      {{/if}}
    </div>
  </div>
</div>