<form action="/auth/register" method="POST">
  <label for="firstname" class="form-label">firstname</label>
  <input
    type="text"
    id="firstname"
    name="firstname"
    class="form-control"
    required
  />

  <label for="lastname" class="form-label">lastname</label>
  <input
    type="text"
    id="lastname"
    name="lastname"
    class="form-control"
    required
  />

  <label for="email" class="form-label">Email</label>
  <input type="email" id="email" name="email" class="form-control" required />

  <label for="password" class="form-label">Password</label>
  <input
    type="password"
    id="password"
    name="password"
    class="form-control"
    required
  />

  <button type="submit" class="btn btn-primary">Register</button>
</form>

{{#if errors}}
  <ul>
    {{#each errors}}
      <div class="alert alert-danger" role="alert">
        {{this.message}}
      </div>
    {{/each}}
  </ul>
{{/if}}