<form action="/users/{{user._id}}?_method=PATCH" method="post">
  <label for="firstname" class="form-label">First Name</label><br />
  <input
    type="text"
    class="form-control"
    id="firstname"
    name="firstname"
    required
    minlength="2"
    value="{{user.firstname}}"
  />

  <label for="lastname" class="form-label">Last Name</label><br />
  <input
    type="text"
    class="form-control"
    id="lastname"
    name="lastname"
    required
    minlength="2"
    value="{{user.lastname}}"
  />

  <label for="role" class="form-label">Role</label><br />
  <select id="role" class="form-select" name="role">
    <option value="DONATOR" {{#if (eq user.role 'DONATOR')}}selected{{/if}}>Donator</option>
    <option value="PANTRY" {{#if (eq user.role 'PANTRY')}}selected{{/if}}>Pantry</option>
    <option value="ADMIN" {{#if (eq user.role 'ADMIN')}}selected{{/if}}>Admin</option>
  </select>

  <label for="email" class="form-label">Email</label><br />
  <input
    type="email"
    class="form-control"
    id="email"
    name="email"
    value="{{user.email}}"
    required
  />
  <input type="submit" value="Update" class="btn btn-primary" />
</form>