{{#if users}}
  <table class="table">
    <thead>
      <tr>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
        <tr>
          <td>{{this.email}}</td>
          <td>
            <a href="/users/{{this._id}}/edit">Edit</a>
            <a href="/users/{{this._id}}/delete">Delete</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>No users found</p>
{{/if}}
<a href="/users/new">Create a new user</a>